<h1>Listing of existing urls</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Link</th>
      <th>Hashcode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.id %></td>
        <td><%= url.link %></td>
        <td><%= url.hashcode %></td>
        <td><%= link_to 'Show', url %></td>
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Preview', "/#{url.hashcode}/preview" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>

<!--

    Prefix Verb   URI Pattern              Controller#Action
    urls GET    /urls(.:format)          urls#index
         POST   /urls(.:format)          urls#create
 new_url GET    /urls/new(.:format)      urls#new
edit_url GET    /urls/:id/edit(.:format) urls#edit
     url GET    /urls/:id(.:format)      urls#show
         PATCH  /urls/:id(.:format)      urls#update
         PUT    /urls/:id(.:format)      urls#update
         DELETE /urls/:id(.:format)      urls#destroy
    root GET    /                        urls#index
         GET    /:code(.:format)         urls#redirectors
         GET    /:code/preview(.:format) urls#preview
 -->        