<h1>Test Only</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @url.link %>
</p>

<p>
  <strong>Hashcode:</strong>
  <%= @url.hashcode %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>